<h1>Users Dashboard</h1>
<h2><%= @user.email %></h2>
<n3>Member since: <%= @user.created_at.strftime("%B %d, %Y") %></n3>
<h4>Total comments: <%= @user.comments.count %></h4>
<h4>Number of 5 star reviews: <%= @user.comments.where(rating: '5_stars').count %></h4>