@import "bootstrap";
@import "font-awesome";
body {
  background: image_url('ravenna.png');
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif",
  "Liberation Serif", Georgia, serif;
}
.navbar {
  box-shadow: 0px 1px 3px #2a2a2a;
  background: image_url('ravenna.png');
}
.navbar-brand {
  color: #FF002B !important;
  font-weight: 600;
  font-family: 'introheadr-base', sans-serif;
  font-size: 28px;
  letter-spacing: -0.3px;
}

.booyah-box {
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #e4e4e4;
  margin-top: 40px;
  margin-bottom: 15px;
  padding: 20px;
}
h1 h2 h3 h4 h5 h6 {
  margin: 0;
  padding: 0;
}
.digg_pagination {
  background: image_url('ravanna.png');
  cursor: default;
  height: 22px;
  a span em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px ;
    color: #FF002B !important;
  }
  .page_info {
    a span em {
      padding: 0.2em 0.5em;
      display: block;
      float: left;
      margin-right: 1px ;
      color: #FF002B !important;
    }
  }
  .disabled {
    display: none;
  }
  .active {

  }
}
